@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Projects", "Index", "Project") <br />
@Html.ActionLink("Customers", "Index", "Customer") <br />
@Html.ActionLink("Users", "Index", "User") <br />