<script type="text/x-handlebars" data-template-name="jsonrepresentation">
    JSON Representation HERE
</script>


<script type="text/x-handlebars" data-template-name="managers">
    Managers HERE
</script>


<div>
    {{outlet}}
</div>