@model MBlog.Areas.Admin.Models.PostViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="alert alert-danger">You are about to delete the following post</div>

<div class="panel panel-primary">
    <div class="panel-heading">User</div>
    <div class="panel-body">
        @Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)
    </div>
</div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
