@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MV*</h1>
    <p class="lead">Backbone.js Knockout AngularJS Ember</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Services</h2>
        <p>
            RESTful and CRUD services are endpoints that the frontend pull from to build the UI.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Two Way Binding</h2>
        <p>Updates on the UI automatically update the javascript models, updating the javascript models automatically update the UI</p>
    </div>
    <div class="col-md-4">
        <h2>Client Side Composition</h2>
        <p>During the initial load only the layout components are loaded resulting in smoother user experience.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Single Page</h2>
        <p>Fewer post backs results in a faster/smoother application</p>
    </div>
</div>