
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id ="messages"></div>

<div>
    <input id="message" type="text" />
    <input type="button" id="submitMessage" value="Notify Users"/>
</div>

