@model TaskViewModel


<table>
    <tr>
        <th>
            User
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Users) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteUser", new { taskId=Model.Id, userId = item.Id  })
        </td>
    </tr>
}

</table>
