@model Statuos.Web.Models.MaxHoursProjectViewModel

<div class="editor-label">
    @Html.LabelFor(model => model.MaxHours)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.MaxHours)
    @Html.ValidationMessageFor(model => model.MaxHours)
</div>
