@model IEnumerable<string>
@{
    ViewBag.Title = "GetManagementByName";
}

<h2>GetManagementByName</h2>

@using (Html.BeginForm("GetManagementByNameSubmit", "Organization"))
{
    @Html.TextBox("Name")
    <input type="submit" value="Find Managers" />

}

<ul>
    @foreach (var s in Model)
    {
        <li>@s</li>
    }
</ul>
