@{
    ViewBag.Title = "About";
}

<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/app/app.js"></script>
<script src="~/Scripts/app/controller/aboutMeCtrl.js"></script>
<script src="~/Scripts/app/controller/postCtrl.js"></script>
<script src="~/Scripts/app/services.js"></script>
<script src="~/Scripts/angular-sanitize.js"></script>

<div ng-controller="AboutMeCtrl">
        <div ng-bind-html-unsafe="about.Content"></div>
</div>

