<ul>
    <li><a href="https://github.com/angular-app/angular-app">Angular App</a></li>
    <li><a href="https://builtwith.angularjs.org/">Built with Angular</a></li>
    <li><a href="http://angular-ui.github.io/">Angular UI Project</a></li>
    <li><a href="http://campus.codeschool.com/courses/shaping-up-with-angular-js/intro">Free Course</a></li>
</ul>