@model dynamic

@{
    ViewBag.Title = "title";
}

<h1>Angular Subjects</h1>
<br />
<ul>
    <li>@Html.ActionLink("Project Example", "Example", "Angular") Project Example</li>
</ul>
<br />
<h2>Features</h2>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<h2>Strengths</h2>
<ul>
    <li>Guidance</li>
    <li>SPA</li>
    <li>Well documented with plenty of examples</li>
</ul>

<h2>Weaknesses</h2>
<ul>
    <li>Opinionated (Not sure if a weakness) </li>
    <li>Learning curve</li>
    <li></li>
</ul>
