<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <TransportConfig MaximumConcurrencyLevel="5" MaxRetries="2" MaximumMessageThroughputPerSecond="10" />
  <connectionStrings>
    <add name="TestDB" connectionString="data source=ab3dc8c8-e0a7-46a6-950b-a220010a650c.sqlserver.sequelizer.com;User ID=mtorfuqajcrzrari;Password=zFkv5XxDqMDZDyeEk3tcQaRmpAFJJmAVvcUXa2kPwdyGtVC5akSWPNLyW7gCrV3e;Initial Catalog=dbab3dc8c8e0a746a6950ba220010a650c" providerName="System.Data.SqlClient" />
    <add name="NServiceBus/Transport" connectionString="host=lemur.cloudamqp.com;username=nmlgisyd;password=cQz6YEJ4QWeAw3a1uRzgNsp_RrrGZzss;virtualhost=nmlgisyd" />
  </connectionStrings>
  <!--<MessageForwardingInCaseOfFaultConfig 
    ErrorQueue="The queue to which errors will be forwarded." />-->
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <UnicastBusConfig ForwardReceivedMessagesTo="audit">
    <MessageEndpointMappings>
      <add Messages="TestWeb.Messages" Endpoint="TestWeb.Backend" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.4.0" newVersion="3.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>