@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>View</h2>


<p>
    <a href="">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Manager
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="">
        <tr>
            <td>
                Name here
            </td>
            <td>
               Manager Here
            </td>
            <td>
                Edit | Details | Delete
            </td>
        </tr>
    
        </tbody>

</table>