@model dynamic

@{
    ViewBag.Title = "title";
}

<h1>Knockout Subjects</h1>
<br/>
<ul>
    <li>@Html.ActionLink("Project Example", "Example", "Knockout") Project Example</li>
</ul>
<br/>
<h2>Features</h2>
<ul>
    <li>Observables (Two Way Binding)</li>
    <li>Bindings</li>
    <li>Templates</li>
    <li>Custom Bindings</li>
    <li>Plugins</li>
</ul>

<h2>Strengths</h2>
<ul>
    <li>Flexibility</li>
    <li>Easy to get started</li>
    <li>Well documented with plenty of examples</li>
    <li>Lower learning curve</li>
</ul>

<h2>Weaknesses</h2>
<ul>
    <li>Parentheses</li>
    <li>Lack of guidance</li>
    <li>Lack of features</li>
    <li>Observables - When to use</li>
</ul>


