@model PhoneRequestTaskViewModel

<div class="display-label">
    @Html.DisplayNameFor(model => model.PhoneNumber)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.PhoneNumber)
</div>
