@model Statuos.Web.Models.ProjectViewModel

<div class="editor-label">
    Customer
</div>
<div class="editor-field">
    @Html.DropDownList("CustomerId", ViewBag.Customers as SelectList, String.Empty)
    @Html.ValidationMessageFor(model => model.CustomerId)
</div>

