@model dynamic

@{
    ViewBag.Title = "title";
}

<h1>Angular Subjects</h1>
<br />
<ul>
    <li>@Html.ActionLink("Project Example", "Example", "Angular") Project Example</li>
</ul>
<br />
<h2>Features</h2>
<ul>
    <li>@Html.ActionLink("Backend Integration With Services", "resource")</li>
    <li>Data Binding</li>
    <li>Plain JavaScript(POJO)</li>
    <li>Routing</li>
    <li>Directives</li>
    <li>Testable</li>
</ul>

<h2>Strengths</h2>
<ul>
    <li>Guidance</li>
    <li>SPA</li>
    <li>Opinionated</li>
    <li>Well documented with plenty of examples</li>
</ul>

<h2>Weaknesses</h2>
<ul>
    <li>Opinionated (Some may consider this a weakness)</li>
    <li>Learning curve</li>
</ul>

<h2>@Html.ActionLink("Additional Resources", "additional")</h2>
