@model dynamic

<!DOCTYPE html>

<html>
    <head>
        <title>Resource</title>
    </head>
    <body>
        <div>
            <ul>
                <li><a href="https://docs.angularjs.org/api/ngResource/service/$resource">Resource Documentation</a></li>
            </ul>
        </div>
    </body>
</html>