@{
    ViewBag.Title = "Home Page";
}
<div class ="row">
    <div class="col-lg-12"></div>
    <h2>Blog Title 1</h2>
    <p>This is some text for the first blog post</p>
    <p>
        <a class="btn btn-default">View Post</a>
    </p>
</div>

<div class ="row">
    <div class="col-lg-12"></div>
    <h2>Blog Title 2</h2>
    <p>This is some text for the second blog post</p>
    <p>
        <a class="btn btn-default">View Post</a>
    </p>
</div>


<div class ="row">
    <div class="col-lg-12"></div>
    <h2>Blog Title 1</h2>
    <p>This is some text for the third blog post</p>
    <p>
        <a class="btn btn-default">View Post</a>
    </p>
</div>