<div class="col-lg-4">
    <a ng-click="create()">Create</a>
</div>
<div class="col-lg-offset-9"><input class="form-control" id="search" placeholder="Search" ng-model="search" /></div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Manager
            </th>
            <th>
                Effort
            </th>
            <th>
                Cost
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-repeat="project in projects | filter:search">
        <tr>
            <td>
                <span>{{ project.Name }}</span>
            </td>
            <td>
                <span>{{ project.UserName }}</span>
            </td>
            <td>
                <span>{{ project.Effort }}</span>
            </td>
            <td>
                <span>{{ project.Cost | currency }}</span>
            </td>
            <td>
               <a ng-click="showDetails(project)">Details</a>
            </td>
        </tr>

    </tbody>

</table>